<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Model Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Model Project">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="z-99 absolute flex justify-center mx-auto p-4 md:w-full md:h-14 border bg-black fixed -mt-14 ">
      <div class="text-white">
        <nav >
          <ul class="flex gap-10 ">
            <li class="cursor-pointer"> <%= link_to "HOME", "/" %> </li>
            <li class="cursor-pointer"> PROFILE</li>
            <li class="cursor-pointer"> WORK</li>
            <li class="cursor-pointer"> <%= link_to "CONTACT", "/contact" %> </li>
            <li class="cursor-pointer"><%= link_to "INSTAGRAM","https://www.instagram.com", target: "_blank" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="relative container mx-auto px-5   md:mt-14">
      <%= yield %>
    </main>
    <footer class="w-full h-40 bg-black ">
    <div class="justify-center mx-auto">
      
    </div>
  </footer>
  </body>
</html>
