<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Noto+Serif+JP:wght@300;400;500&family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "https://unpkg.com/aos@2.3.1/dist/aos.css" %>
    <title><%= content_for(:title) || "Model Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Model Project">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="z-99 flex justify-center mx-auto p-4 w-full md:h-14 border bg-black fixed top-0">
      <div class="text-white">
        <nav >
          <ul class="flex md:gap-10 gap-5">
            <li class="cursor-pointer transition-colors duration-500 hover:bg-white px-4 py-1 hover:text-black rounded-sm"> <%= link_to "自己紹介", "/" %> </li>
            <li class="cursor-pointer transition-colors duration-500 hover:bg-white px-4 py-1 hover:text-black rounded-sm"> モデル</li>
            <li class="cursor-pointer transition-colors duration-500 hover:bg-white px-4 py-1 hover:text-black rounded-sm"> 司会リポーター</li>
            <li class="cursor-pointer transition-colors duration-500 hover:bg-white px-4 py-1 hover:text-black rounded-sm"><%= link_to "SNS","https://www.instagram.com/riii_maru162cm", target: "_blank" %></li>
            <li class="cursor-pointer transition-colors duration-500 hover:bg-white px-4 py-1 hover:text-black rounded-sm"> <%= link_to "お問い合わせ", "/contact" %> </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="relative md:mt-14">
      <%= yield %>
    </main>
    <footer class="flex justify-center w-full h-40 bg-black items-end p-4">
    <div class="mx-auto text-center text-white md:text-sm text-sm">
    <p class="bottom-0"> © Copyright    |   Kurasa Rina   |   All Rights Reserved </p>
    </div>
  </footer>
  </body>
</html>
